html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.tick text{
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #4C5554;
  stroke-width: 1;
}

.x.axis .tick line{
display: none
}

.domain{
    display: block !important;
    stroke: #4C5554 !important;
    stroke-width: 2 !important;
}

.legend {
  font-size: 12px;
  font-family: sans-serif;
  rect {
    stroke-width: 2;
  }
}